@model IEnumerable<BlogWeb.WebUI.Models.PopularPostViewModel>

@if (Model != null)
{
	foreach (var item in Model)
	{
		<div class="block-21 mb-4 d-flex">
			<img class="blog-img mr-4"
				 src="@Url.Action("GetImage", "Posts",
                        new { item.Id })" />
			<div class="text">
				<h3 class="heading"><a href="#">@item.Title</a></h3>
				<div class="meta">
					<div><a href="#"><span class="icon-calendar"></span> @item.PublishDate</a></div>
					<div><a href="#"><span class="icon-person"></span> @item.AuthorName</a></div>
					<div><a href="#"><span class="icon-chat"></span> @item.CommnetsCount</a></div>
				</div>
			</div>
		</div>
	}
}