@model BlogWeb.WebUI.Models.PostViewModel

@{ 
	var post = Model;
}

<div class="col-md-12">
	<div class="blog-entry ftco-animate d-md-flex">
		<a href="#" class="img img-2" style="background-image: url(/Content/images/@post.ImagePath);"></a>
		<div class="text text-2 pl-md-4">
			<h3 class="mb-2">@Html.ActionLink(post.Title, "Details", "Post", routeValues: new { id = post.Id }, htmlAttributes: null) </h3>
			<div class="meta-wrap">
				<p class="meta">
					<span><i class="icon-calendar mr-2"></i>@post.WrittenDate</span>
					<span><a href="#"><i class="icon-folder-o mr-2"></i>@post.CategoryName</a></span>
					<span><i class="icon-comment2 mr-2"></i>@post.CommentsCount Comment</span>
				</p>
			</div>
			<p class="mb-4">@post.ShortDescription</p>
			<p class="btn-custom"> @Html.ActionLink("Read More", "Details", "Post", routeValues: new { id = post.Id}, htmlAttributes: null) 
			<span class="ion-ios-arrow-forward"></span></p>
		</div>
	</div>
</div>
